body {
    font-family: 'Lato', sans-serif;
}

.form-container {
    margin-left: 10px;
    background: #d2def2;
    padding: 20px 30px 20px 30px;
    width: 850px;
    border-radius: 20px;
    float: left;
    position: absolute;
    top: 225%;
    bottom: 10;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: blue;
}

p {
    font-weight: bold;
}

h4 {
    color: Blue;
}

.btn-text-center {
    text-align: center;
}

input[type=text] {
    border: 1px solid blue;
    border-radius: 4px;
    height: 50px;
}

input[type='radio']:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    border: 2px solid blue;
}

input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: brown;
    /*#ffa500;*/
    content: '';
    display: inline-block;
    border: 2px solid white;
}

input {
    margin-bottom: 20px;
}

button {
    width: 20%;
    height: 30px;
    background: blue;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}